.main__header {
    width: 100vw;
    height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
    margin-top: 3rem;
    background-image: url("/src/images/main_header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.main__header-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    justify-content: space-between;
    /* gap: 6rem; */

    
}
.main__header-left{
    margin-top: -3rem;
}

/* .main__header-left h4 {
    margin-bottom: 1rem;
    color: var(--color-secondary);
    font-weight: 400;
} */
.main__header-left h1 {
    margin: 1rem 0 3.5rem;
}

.programs {
    margin-top: 4rem;
    padding: 40px 30px;
}

.programs__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 4rem;
}
.programs__program a {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .programs__program .s-small {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
} */


footer {
 margin-top: 7rem;
 padding-top: 7rem;
 font-size: 0.9rem;   
}

.footer__container {
    display: grid;
    grid-template-columns: 26rem 1fr 1fr 1fr;
    gap: 6rem;
}
.footer__container article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.rem

}
.footer__container article p {
    margin-top: 0.5rem;
}
.footer__container article h4 {
    margin-bottom: 0.6rem;
    font-size: 1rem;
}
.footer__socials {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
