@import "../utils/scss/index.scss";

#Register_Main_Container {
  .wrapper {
    max-width: 98%;
    width: 900px;
    margin: 100px auto;

    .title {
      font-size: 2.6rem;
    }

    .slide-controls {
      @include d-flex;
      gap: 100px;
      border: 0;
      padding: 0 20px;
      margin-bottom: 20px;

      .slide {
        width: 100%;
        padding: 8px 0;
        text-align: center;
        border: 1px solid rgb(200, 200, 200);
        border-radius: 0.4rem;
        color: #333;

        &.active {
          background: $primary-color;
          color: #fff;
        }
      }
    }

    .form-container {
      .form-inner {
        form {
          .name-field {
            @include d-flex;
            gap: 20px;
          }

          .field {
            width: 100%;
            padding: 10px 0;

            input,
            select {
              border: 1px solid #333;
              padding: 16px 20px;
              width: 100%;
              border-radius: 0.6rem;
            }

            input:focus {
              border: 3px solid #000;
            }
          }

          input[type="submit"] {
            margin-bottom: 20px;
            border: 0;
            outline: 0;
            display: inline-block;
            width: 100%;
            padding: 18px 20px;
            background: $primary-color;
            color: #fff;
            font-size: 1.2rem;
            border-radius: 0.6rem;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #Register_Main_Container {
    padding: 40px 30px
  }
}
