.programs__program {
    .card span {

        height: auto;
    }
  .card .programs__program {
  }
}

.card small{
    font-size: 1.2rem;
}

.card span {
    height: auto !important;
    width: 100% !important;
    padding: unset !important;
}