@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;500;700;800;900&display=swap");
/* body {
  font-family: var(--body-font);
  color: var(--body-color);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
} */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

} 

:root {
    --primary-color: #B48E40;
    --gray-hue: 42;
    --color-primary: hsl(var(--primary-color),
    100%, 50%);
    --color-primary-variant: hsl(var(--primary-color), 100%, 65%);
    --color-secondary: #FFFFFF;
    --color-gray-100: hsl(var(--gray-hue), 47%, 94%);
    --color-gray-200: hsl(var(--gray-hue), 100%, 2%);
    --color-gray-300: hsl(var(--gray-hue), 24%, 64%);
    --color-gray-400: hsl(var(--gray-hue), 16%, 41%);
    --color-gray-500: hsl(var(--gray-hue), 44%, 25%);
    --color-gray-600: hsl(var(--gray-hue), 48%, 15%);

    --container-width-lg: 80%;
    --container-width-md: 90%;

    --transition: all 500ms ease;
}

body {
    font-family: 'Arima Madurai', 'cursive';
    overflow-x: hidden;
    overflow-y: auto;
    background: white;
    color: var(--color-gray-200);

    /* line-height: 1.7; */
    /* line-height: 1.7;
    overflow: hidden;*/
}

.container {
    width: var(--container-width-lg);
    max-width: 1920px;
    margin-inline: auto;
}
h1, h3, h5 {
    line-height: 1.2;
    color: var(--color-gray-100);
}

h1 {
    font-size: 80px;
    line-height: 100px;
    padding: 0;
    margin: 0;
    font-weight: 900;
}
h4 {
    color: #B48E40;
    font-size: 36px;
    line-height: 34px;
    padding: 0;
    margin: 0;
    font-weight: 900;
}

h2 {
    color: #B48E40;
    font-size: 2rem;
}

a {
    color: var(--color-gray-100);
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}


.btn {
    color: var(--color-gray-600);
    width: fit-content;
    margin: 0 auto;
    padding: 0.9rem 2rem;
    background: var(--primary-color);
    /* border-radius: 1.5rem; */
    transition: var(--transition);
}
.btn:hover {
    background: black;
    color:rgb(187, 173, 173);
}

.btn.lg {
    /* padding: 1.2rem; */
    /* border-radius: 2rem; */
    font-size: 1.5rem;
    color: white;
}
.btn.sm {
    padding: 0.4rem 1.2rem;
    font-size: 0.9rem;
}
.btn.sm:hover {
    background: white

}
/* .btn.lg:hover {
    background: var(--color-gray-100);
    color:#B48E40;
} */
section {
    margin-top: 10rem;
}

.section__head {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.section__head span {
    background: black;
    padding: 0.8rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.5rem;
}

.card {
    background-color: #e0d5bf;
    border: 5px solid#B48E40;
    text-align: center;
    padding: 3rem 3rem;
    border-radius: 0 3rem 0 3rem;
}

.card:hover {
    background: transparent;
    border-color: #a77614;
    cursor: default;
}
.card span {
    width: 3rem;
    height: 3rem;
    /* background: green; */
    /* color: black; */
    font-size: 1.5rem;
    padding: 0.8rem;
    display: grid;
    place-items: center;
    margin-bottom: 1.5rem;
    margin-inline: auto;
    border-radius: 1rem;
    transition: white
}
.card:hover span {
    background: #B48E40;
    color: #835907;
}
.card small {
    margin-top: 1rem;
    display: block;
    font-weight: 300;
}
